.users-page{
    width: 100%;
    text-align: center; /* Centrează textul pentru tot containerul */
}

.users-page-title {
    margin-top: 75px; /* Adaugă spațiu în partea de sus */
    font-size: 25px;
    margin-bottom: 50px;

}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; /* Reduce sau ajustează acest padding după necesități */
    padding-bottom: 100px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 30%;
}

th {
    background-color: #f4f4f4;
}

.btn {
    margin-right: 8px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}



