/* cart.css */

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%; /* Ajustează pentru a face modalul mai mare */
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.payment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-element {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pay-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.pay-button:hover {
    background-color: #0056b3;
}

.close-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.close-button:hover {
    background-color: #c82333;
}

.card-error {
    color: red;
    margin-top: 10px;
}

.cart-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.cart-item-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-details {
    flex: 1;
    padding: 0 20px;
}

.cart-item-name {
    margin: 0 0 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.cart-item-creator,
.cart-item-price {
    margin: 5px 0;
    font-size: 1.1em;
}

.cart-item-buy {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.cart-item-buy:hover {
    background-color: #0056b3;
}
